body {
  border: 1px solid;
  padding: 30px;
  margin: 100px;
}
section {
  text-align: center;
  border: 1px solid;
  border-radius: 45%;
  position: relative;
  top: 20px;
}
h1 {
  margin: 0;
}
hr {
  margin: 0%;
  padding: -10px;
}
h6 {
  margin: 0;
}
p {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  position: relative;
  top: 30px;
}
.form1:hover {
  background: #c47979;
  color: #3d1212;
  transition: all 200ms ease-in-out;
}
.weather1 {
  padding: 90px;
  padding-inline-start: 10px;
}
.C {
  border: 1px solid;
}
.days {
  list-style-type: none;
  position: relative;
  top: 20px;
  font-size: 25px;
}
.city {
  text-align: center;
  padding-inline-start: 0%;
  list-style-type: none;
  font-size: 10px;
  color: #633838;
}

.form1 {
  margin: -8px;
  width: 20%;
  background-color: black;
  color: white;
}
.form {
  width: 80%;
}
.cool {
  color: black;
  cursor: default;
  text-decoration: none;
}
.cool:hover {
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: black;
}
.new {
  font-weight: lighter;
  font-size: medium;
  text-align: left;
}
