html {
  min-height: 100%;
}
body {
  background: radial-gradient(
    circle at 10% 20%,
    #feffa5 0%,
    rgb(255, 232, 182) 90%
  );
  height: 100%;
  font-family: "Helvetica";
  color: #feffa5;
}
section {
  text-align: center;
  border: 1px solid;
  border-radius: 45%;
  position: relative;
  top: 20px;
  color: #feffa5;
}
section:hover {
  background: #feffa5;
  color: black;
}
h1 {
  margin: 0;
}
hr {
  margin: 0%;
  padding: -10px;
  border: 1px solid;
  border-radius: 50%;
}
h6 {
  margin: 0;
}
p {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  position: relative;
  top: 30px;
}

button {
  position: relative;
  top: 10px;

  border-radius: 15px;
  background-color: black;
  padding: 10px;
  color: #feffa5;
}
button:hover {
  transition: all 200ms ease-in-out;
  border: 5px black;
  background-color: #feffa5;
  color: black;
}

.form1:hover {
  background: #feffa5;
  color: black;
  transition: all 200ms ease-in-out;
}
.weather1 {
  padding: 90px;
  padding-inline-start: 10px;
}
.C {
  border: 1px solid;
  font-size: medium;
  margin: 3px;
  padding: 10px;
  color: #feffa5;
}
.C:hover {
  background: #feffa5;
  color: black;
}
.days {
  list-style-type: none;
  position: relative;
  top: 20px;
  font-size: 25px;
}
.city {
  text-align: center;
  padding-inline-start: 0%;
  list-style-type: none;
  font-size: 10px;
  opacity: 0.7;
}
.city:hover {
  color: black;
}

.form1 {
  margin: -8px;
  width: 20%;
  background-color: black;
  color: #feffa5;
}
.form {
  width: 80%;
}
.cool {
  color: black;
  cursor: default;
  text-decoration: none;
}
.cool:hover {
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: black;
}
.new {
  font-weight: lighter;
  font-size: medium;
  text-align: left;
}
.weather-unit .active {
  color: black;
  cursor: default;
}

.weather-unit .active:hover {
  text-decoration: none;
}
.day1 {
  font-size: 15px;
}
.body {
  border: 1px solid;
  border-color: #133544;

  background: radial-gradient(
    circle at 10% 20%,
    rgb(221, 49, 49) 0%,
    rgb(119, 0, 0) 90%
  );
  position: relative;
  padding: 30px;
  margin: 100px;
  border-radius: 30px;
}
#weather-1 {
  font-size: 20px;
}
